{% extends 'page.html.twig' %}

{% block body %}
    <h1>Prestations list</h1>

    <table>
        <thead>
            <tr>
                <th>Idprestation</th>
                <th>Dateprestation</th>
                <th>Etatprestation</th>
                <th>Nomprestation</th>
                <th>Descriptionprestation</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td><a href="{{ path('prestations_show', { 'idPrestation': prestation.idPrestation }) }}">{{ prestation.idPrestation }}</a></td>
                <td>{% if prestation.datePrestation %}{{ prestation.datePrestation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ prestation.etatPrestation }}</td>
                <td>{{ prestation.nomPrestation }}</td>
                <td>{{ prestation.descriptionPrestation }}</td>
                <td>{{ prestation.prix }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prestations_show', { 'idPrestation': prestation.idPrestation }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('prestations_edit', { 'idPrestation': prestation.idPrestation }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prestations_new') }}">Create a new prestation</a>
        </li>
    </ul>
{% endblock %}
