{% extends 'page.html.twig' %}
{% block body %}
    <h1>Historique des demandes et des prestations</h1>

<div class=row>
    {% for prestation in prestations %}
    <div class=col-md-3>
        <div class=item-price>
            <div class=head>
                <div class=name-wrap>

                    <h2>{{ prestation.nomPrestation }}	</h2>
                </div>
                <div class=price-wrap>
                    <p>{{ prestation.prix }} $</p><span class=per-mn></span>
                </div>
            </div>
            <div class=body>
                <ul>
                    <li>{{ prestation.descriptionPrestation }}</li>
                    <li>{{ prestation.idSousCategorie }}</li>
                    <li>{% if prestation.datePrestation %}{{ prestation.datePrestation|date('Y-m-d') }}{% endif %}</li>
                    <li>{% if prestation.etatPrestation == 0 %}  non traitée  {% endif %} {% if prestation.etatPrestation == 1 %}   traitée  {% endif %}</li>
                    <li><a href="{{ path('prestations_show', { 'idPrestation': prestation.idPrestation }) }}" class=btn>Détails</a></li>
                </ul>
            </div>
        </div>

    </div>
    {% endfor %}
</div>



            <a style="color: black" href="{{ path('prestations_new') }}">Vous avez un problème? Passez votre demande</a>


{% endblock %}
