{% extends 'page.html.twig' %}

{% block body %}
    <center>
        <div>
    <h1 style="text-align: center; text-decoration: underline">Demande de prestation</h1>

    {{ form_start(form) }}

        <div >
            <label>Nom prestation</label>
            {{ form_widget(form.nomPrestation, { 'attr':{'style':'background-color:#fff3cd;width: 40%; color: black'}    }) }}
        </div>
            <div >
                <label>Séléctionnez une sous catégorie</label>
                {{ form_widget(form.idSousCategorie, { 'attr':{'style':'background-color:#fff3cd;width: 40%; color: black'}    }) }}
            </div>
            <div >
                <label>Séléctionnez votre prestataire</label>
                {{ form_widget(form.idPrestataire, { 'attr':{'style':'background-color:#fff3cd;width: 40%; color: black'}    }) }}
            </div>
            <div >
                <label>Description prestation</label>
                {{ form_widget(form.descriptionPrestation, { 'attr':{'style':'background-color:#fff3cd;width: 40%; color: black'}    }) }}
            </div>
            <div >
                <label>Proposez un prix à votre prestataire</label> <br>
                {{ form_widget(form.prix, { 'attr':{'style':'background-color:#fff3cd;width: 40%; color: black'}    }) }}
            </div>
            <div >
                <label>Etat prestation</label>
                {{ form_widget(form.etatPrestation, { 'attr':{'style':'background-color:#fff3cd;width: 40%; color: black'}    }) }}
            </div>
<div>
    <label>Date prestation</label>
    <br>
    {{ form_widget(form.datePrestation, { 'attr':{'style':'background-color:#fff3cd;width: 40%'}    }) }}
</div>
    <input type="submit" value="Passer ma demande" class="btn btn-blue btn-form" style="background-color: #fff3cd; color: black"/>
    <ul>
        <li>
            <a href="{{ path('prestations_index') }}">Afficher toutes mes prestations</a>
        </li>
    </ul>

    {{ form_end(form) }}

        </div>
    </center>
{% endblock %}
