<!DOCTYPE html>
<html lang=en class=no-js>

<!-- Mirrored from fidex.com.ua/monster/kanter/demos/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 00:43:27 GMT -->
<head>
    <meta charset=utf-8>
    <title>KANTER - Creative Digital Agency Template</title>
    <meta name=description content="">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property=og:image content="path/to/image.html">
    <!--Favicon-->
    <link rel=icon href="{{ asset('template/') }}img/favicon/favicon.ico">
    <!--Libs css-->
    <link rel=stylesheet href="{{ asset('template/') }}css/A.libs.css.pagespeed.cf.XBxUqWFizV.css">
    <!--Main css-->
    <link rel=stylesheet data-style=styles href="{{ asset('template/') }}css/A.main.min.css.pagespeed.cf.tj79wdIVX8.css">
    <link rel=stylesheet href="{{ asset('template/') }}libs/style-customizer/A.style-customizer.css.pagespeed.cf._Eu7UPcYKE.css">
</head>
<body class=dark-load>
<header id=top-nav class="top-nav page-header">
    <div class=container><a href="#" class="logo smooth-scroll"><img src="{{ asset('template/') }}img/logo.png.pagespeed.ce.gb7KLsra6V.png" alt=logo class=logo-white><img src="{{ asset('template/') }}img/logodark.png.pagespeed.ce.SXaMwMBd3a.png" alt=logo class=logo-dark></a>
        <nav class=top-menu>
            <ul class=sf-menu>
                <!--Menu default-->
                <li><a href="{{ path('prestations_homepage')}}">home</a>
                <li><a href="#">Pages</a>
                <li><a href="{{ path('prestations') }}" class=smooth-scroll>Prestations</a></li>
                <li><a href="#services" class=smooth-scroll>Services</a></li>
                <li><a href="#portfolio" class=smooth-scroll>Our works</a></li>
                <li><a href="#skills" class=smooth-scroll>Skills</a></li>
                <li> <a href="#contact" class=smooth-scroll>Contact</a></li>
            </ul>
            <!-- Start toggle menu--><a href="#" class=toggle-mnu><span></span></a>
            <!-- Start toggle menu--><a href="#" class=toggle-top><span></span><span></span><span></span><span></span><span></span></a>
        </nav>

    </div>
</header>
<!--Section why chose us-->
<section class=section-choose-us>
    <div class=container>
        <div class=row>
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title center">
                    <h2>Why choose <span>us ?</span></h2>
                    <div class=small-desd>We create<span> awesome stuff</span></div>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class=row>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=content>
                        <h3>lETS START 2K’TH JOURNEY WITH US</h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.</p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-light></i>
                        <div class=bg-icon><i class=pe-7s-light></i></div>
                    </div>
                    <div class=content>
                        <h3>We're <span>creative</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.	</p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-graph1></i>
                        <div class=bg-icon><i class=pe-7s-graph1></i></div>
                    </div>
                    <div class=content>
                        <h3>We're <span>passionate</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.	</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-like></i>
                        <div class=bg-icon><i class=pe-7s-like></i></div>
                    </div>
                    <div class=content>
                        <h3>We love <span>people</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.	</p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-help2></i>
                        <div class=bg-icon><i class=pe-7s-help2></i></div>
                    </div>
                    <div class=content>
                        <h3>Friendly <span>support</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.	</p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-phone></i>
                        <div class=bg-icon><i class=pe-7s-phone></i></div>
                    </div>
                    <div class=content>
                        <h3>We're <span>pasponsive</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.	</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-display1></i>
                        <div class=bg-icon><i class=pe-7s-display1></i></div>
                    </div>
                    <div class=content>
                        <h3>Retina <span>ready</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.	</p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-link></i>
                        <div class=bg-icon><i class=pe-7s-link></i></div>
                    </div>
                    <div class=content>
                        <h3>Seo <span>optimized</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.	</p>
                    </div>
                </div>
            </div>
            <!--Start item-->
            <div class=col-md-4>
                <div class="item-about item-choose">
                    <div class=icon><i class=pe-7s-paint></i>
                        <div class=bg-icon><i class=pe-7s-paint></i></div>
                    </div>
                    <div class=content>
                        <h3>Easy <span>customized</span></h3>
                        <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section contact with us-->
<section id=contact data-image="img/bg3.jpg" class="section-contact-with-us bg-dark-section background-image">
    <div class=container>
        <div class=row>
            <div class="col-md-8 col-md-push-2">
                <div class="heading-title small-heading center">
                    <h2>Contact <span>with us</span></h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=col-md-6>
                <div class=contact-wrap>
                    <p class=phone><i aria-hidden=true class="fa fa-phone"></i>+58(667) 543 54 55</p>
                    <p class=street>359 CENTRAL MIRA STREET<br>VATUTINA 79 / 99 UKRAINE</p><a href=malito: class=email><i aria-hidden=true class="fa fa-envelope-o"></i>Support@DOMIAN.COM</a><a href=malito: class=email><i aria-hidden=true class="fa fa-envelope-o"></i>Support@DOMIAN.COM</a>
                    <!--Start social links-->
                    <ul class=social-links>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                    <!--End social links-->
                </div>
            </div>







            <div class=col-md-6>
                <div class=contact-form>
                    <form class="contact-form-sub contact-form-bg">
                        <!-- Input name-->
                        <div class=col-md-6>
                            <input type=text required="" name=Name placeholder=" Your name" class=form-control>
                        </div>
                        <!-- Input email-->
                        <div class=col-md-6>
                            <input type=email required="" name=Email placeholder="Your email" class=form-control>
                        </div>
                        <!-- textarea-->
                        <div class=col-md-12>
                            <textarea rows=9 required="" name=Message placeholder="Your message" class=form-control></textarea>
                            <p class="success-msg hidden notify">Your message has been send</p>
                            <p class="error-msg hidden notify">Error sending message</p>
                            <input type=submit value=Send class="btn btn-blue btn-form">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class=container>
        <div class=row>
            <div class=col-md-3>
                <div class=logo><img src="{{ asset('template/') }}img/logo.png.pagespeed.ce.gb7KLsra6V.png" alt=logo class=logo-white></div>
                <p>We are a creative agency with a passion for design & developing beautiful creations.</p>
                <!--Start social links-->
                <ul class=social-links>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <!--End social links-->
            </div>
            <div class=col-md-3>
                <div class=links>
                    <h5>ADDITIONAL LINKS</h5>
                    <ul class=list>
                        <li><a href="#">For Freelancer</a></li>
                        <li><a href="#">For Photographs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">404 page</a></li>
                    </ul>
                </div>
            </div>
            <div class=col-md-3>
                <div class=links>
                    <h5>Pages</h5>
                    <ul class=list>
                        <li><a href="#">About page</a></li>
                        <li><a href="#">Blog page</a></li>
                        <li><a href="#">Price page</a></li>
                        <li><a href="#">Portfolio page</a></li>
                        <li><a href="#">Portfolio single</a></li>
                    </ul>
                </div>
            </div>
            <div class=col-md-3>
                <div class=links>
                    <h5>Adress</h5>
                    <p>1234 SOME AVENUE, <br>NEW YORK, NY 56789<br>INFO@YOUWEBSITE.COM<br> (123) 456-7890<br> (123) 456-7890</p>
                </div>
            </div>
        </div>
    </div>
    <div class=down-footer>
        <div class=container>
            <div class=row>
                <div class=col-md-12>
                    <p>© 2017 All Rights Reserved. - Created by Brainiakthemes</p>

                </div>
            </div>
        </div>
    </div>
</footer>
<!--button to top-->
<div class="top icon-down toTopFromBottom"><a href="#top" class=smooth-scroll><i class=pe-7s-angle-up></i></a></div>
<!--end button to top-->
<!--Google map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfIvcRb39yOu1OFOX2G0c4jemKpLgpJl0&amp;sensor=false"></script>
<!--Libs-->

</body>

<!-- Mirrored from fidex.com.ua/monster/kanter/demos/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 00:43:52 GMT -->
</html>