<!DOCTYPE html>
<html lang=en class=no-js>

<!-- Mirrored from fidex.com.ua/monster/kanter/demos/prices-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 00:46:31 GMT -->
<head>
    <meta charset=utf-8>
    <title>KANTER - Prices 2</title>
    <meta name=description content="">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property=og:image content="path/to/image.html">
    <!--Favicon-->
    <link rel=icon href="{{ asset('template/') }}img/favicon/favicon.ico">
    <!--Libs css-->
    <link rel=stylesheet href="{{ asset('template/') }}css/A.libs.css.pagespeed.cf.XBxUqWFizV.css">
    <!--Main css-->
    <link rel=stylesheet data-style=styles href="{{ asset('template/') }}css/A.main.min.css.pagespeed.cf.tj79wdIVX8.css">
    <link rel=stylesheet href="{{ asset('template/') }}libs/style-customizer/A.style-customizer.css.pagespeed.cf._Eu7UPcYKE.css">
</head>
<body>
<header id=top-nav class="top-nav page-header">
    <div class=container><a href="#" class="logo smooth-scroll"><img src="{{ asset('template/') }}img/logo.png.pagespeed.ce.gb7KLsra6V.png" alt=logo class=logo-white><img src="{{ asset('template/') }}img/logodark.png.pagespeed.ce.SXaMwMBd3a.png" alt=logo class=logo-dark></a>
        <nav class=top-menu>
            <ul class=sf-menu>
                <!--Menu default-->
                <li><a href="{{ path('prestations_homepage') }}">Home</a>

                </li>
                <li><a href="#">Pages</a>

                <li><a href="#" class=smooth-scroll>Prestations</a></li>
                <li><a href="#" class=smooth-scroll>Services</a></li>
                <li><a href="#" class=smooth-scroll>Our works</a></li>
                <li><a href="#" class=smooth-scroll>Skills</a></li>
                <li> <a href="#"class=smooth-scroll>Contact</a></li>
            </ul>
            <!-- Start toggle menu--><a href="#" class=toggle-mnu><span></span></a>
            <!-- Start toggle menu--><a href="#" class=toggle-top><span></span><span></span><span></span><span></span><span></span></a>
        </nav>

    </div>
</header>
<!-- Start full screen top nav-->
<div data-image="img/bg1.jpg" class="fullscreen-topnav rotate background-image">
    <!-- Start container-->
    <div class="container-fluid height-half">
        <div class="row height-full no-padding-bottom">
            <div class="items height-full"><a href=faq.html class="col-lg-3 col-md-6 col-sm-6 col-xs-12 height-full link">
                    <div class="item table">
                        <div class="content-nav table-cell">
                            <p>FAQ - page</p>
                            <h2>Need help ?</h2>
                        </div>
                    </div></a><a href=services.html class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-lg-push-6 height-full link ">
                    <div class="item table">
                        <div class="content-nav table-cell">
                            <p>All services</p>
                            <h2>Our services</h2>
                        </div>
                    </div></a>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-pull-3 height-full text-item">
                    <div class="item table">
                        <div class="content-nav table-cell">
                            <h3>Fact about us:</h3>
                            <p>In 2018 we are Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End full screen top nav-->
<!-- Start Content section-->
<section data-image="img/bgn11.jpg" id=top class="display-page img-parallax bg-mask background-image">
    <div class=container>
        <div class=row>
            <div class=col-md-12>
                <div class=content>
                    <!-- heading title-->
                    <h1>Mes <span>prestations</span></h1>

                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color: #c69c6d">
    <div class=container>
        <div class=row>
            {% block body %}
            {% endblock %}
    </div>
</section>
<!--Section trigger-->


<footer>
    <div class=container>
        <div class=row>
            <div class=col-md-3>
                <div class=logo><img src="{{ asset('template/') }}img/logo.png.pagespeed.ce.gb7KLsra6V.png" alt=logo class=logo-white></div>
                <p>We are a creative agency with a passion for design & developing beautiful creations.</p>
                <!--Start social links-->
                <ul class=social-links>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <!--End social links-->
            </div>
            <div class=col-md-3>
                <div class=links>
                    <h5>ADDITIONAL LINKS</h5>
                    <ul class=list>
                        <li><a href="#">For Freelancer</a></li>
                        <li><a href="#">For Photographs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">404 page</a></li>
                    </ul>
                </div>
            </div>
            <div class=col-md-3>
                <div class=links>
                    <h5>Pages</h5>
                    <ul class=list>
                        <li><a href="#">Prestations page</a></li>
                        <li><a href="#">Blog page</a></li>
                        <li><a href="#">Price page</a></li>
                        <li><a href="#">Portfolio page</a></li>
                        <li><a href="#">Portfolio single</a></li>
                    </ul>
                </div>
            </div>
            <div class=col-md-3>
                <div class=links>
                    <h5>Adress</h5>
                    <p>1234 SOME AVENUE, <br>NEW YORK, NY 56789<br>INFO@YOUWEBSITE.COM<br> (123) 456-7890<br> (123) 456-7890</p>
                </div>
            </div>
        </div>
    </div>
    <div class=down-footer>
        <div class=container>
            <div class=row>
                <div class=col-md-12>
                    <p>© 2017 All Rights Reserved. - Created by Brainiakthemes</p>

                </div>
            </div>
        </div>
    </div>
</footer>
<!--button to top-->
<div class="top icon-down toTopFromBottom"><a href="{{ asset('template/') }}#top" class=smooth-scroll><i class=pe-7s-angle-up></i></a></div>
<!--end button to top-->
<!--Google map-->
</body>

<!-- Mirrored from fidex.com.ua/monster/kanter/demos/prices-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 00:46:31 GMT -->
</html>